<!--Wang Jian-->
<!--CSE270E-->
<!--Assignment10-->
<!--2017 Jan 14-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Timer</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<form role="form" action="http://172.17.29.68:3640/login" method = "post">
    {{#if errormsg}}
       <div class='alert alert-danger' id='submitError'>{{errormsg}}</div>
    {{/if}}
    <div class="form-group">
      <label for="usr">Username:</label>
      <input type="text" class="form-control" name = "usr" id = "usr" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name = "pwd" id = "pwd" placeholder="Enter password">
    </div>    
    <button type="submit" class="btn btn-default" id = "sub">Submit</button><br>
    <a href="/register">Register new Account</a>
</form>
<div style="border-top: solid 1px #eee; padding-top: 1em;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted">Wang Jian's Timer</p>
            </div>
        </div>
    </div>
</div>
